@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* dialog Styling */

dialog {
    width: 34rem;
    border-radius: 8px;
    border-color: oklch(70.3% 5% 259.815 / 0.3);
    border-width: 1px;
    box-shadow: 1px 2px 4px 1px oklch(80.3% 1% 259.815 / 0.4);
}

dialog .dialog-heading {
    width: 100%; 
    justify-self: center;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0.4rem; 
    height: 2rem; 
    gap: 0.2rem;
}

.cancel-btn {
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 0.2rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* border: 1px solid red; */
}

.cancel-btn svg {
    width: 20%;
    fill: oklch(62.3% 0.214 259.815);
    
}


/* .cancel-button {
    width: 2rem;
    height: 2rem;
    fill: oklch(62.3% 0.214 259.815);
}

.cancel-button:hover {
    fill: #ffffff;
    background-color: oklch(62.3% 0.214 259.815);
    border: 1px solid oklch(62.3% 0.214 259.815);
    border-radius: 50%
}
 */

dialog form {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 90%;
}

::backdrop {
    backdrop-filter: blur(10px);
}

form p {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 700;
    
}

form input {
    height: 2rem; 
}

form input[type="text"], form textarea, form .task-color, .priority-container  {
    border-width: 1px;
    border-color: oklch(70.3% 5% 259.815 / 0.3);  
    border-radius: 6px;  
    
    box-shadow: 0px 2px 4px oklch(80.3% 1% 259.815 / 0.4);
    padding: 0 0.4rem; 
    font-family: inherit;
}

form textarea {
    padding-top: 0.4rem;
}

form input[type="text"]:focus, form textarea:focus, form .task-color:focus {
    border-color: oklch(62.3% 90% 259.815);
    border-width: 3px;
    border-left: 12px solid oklch(62.3% 0.214 259.815);
    outline: none;
    box-shadow: 3px 4px 6px oklch(80.3% 1% 259.815 / 0.6)
}

.priority-box-title {
    margin: 0;
}
.priority-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    
}

.priority {
    display: flex;
    align-items: center;
    
}

.priority h4 {
    margin: 0;
}
 
.task-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.color-preview { 
    width: 2rem;
    height: 2rem;
    border: 1px solid blue;
}

dialog form button {
    height: 3rem;
    border-radius: 6px;
    border: 1px solid oklch(62.3% 0.214 259.815);
    background-color: oklch(62.3% 0.214 259.815);
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.1rem;
}

dialog form button:hover {
    background-color: transparent;
    color: oklch(62.3% 0.214 259.815);
}


/* Home page Styling */

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12% 1fr;
    border: 1px solid blue;
    min-height: 670px;
    /* justify-items: center; */
}
.main-container div {
    border: 1px solid blue;
}
#top-header {
    border: 1px solid green;
    grid-column: 1 / 13;
    grid-row: 1 / 2; 
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    /* align-items: center; */
}

.dashboard-div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.dashboard-div .logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.search-div {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 2rem;
    align-self: center;
}

.search-div svg {
    height: 2rem;
    width: 2rem; 
    border: 1px solid rgb(82, 135, 4); 
    border-radius: 6px;
}

.search-div label {
    width: 10%;
    height: 100%;
    justify-self: center;
    align-self: center;
    border: 1px solid blue;

}

.search-div input {
    border: 1px solid red;
    width: 60%;
    height: 100%;
    padding: 0 1rem;
}

#left-panel {
    border: 2px solid red;
    grid-column: 1 / 4;
    grid-row: 2 / 3 ;
    background-color: oklch(97% 1% 254.604);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: 4rem;  
}

.left button {
    width: 100%;
    height: 3.1rem;
    border-radius: 6px;
    margin: 0.4rem 0;
    font-weight: 700;
    font-family: inherit;
    font-size: 1.1rem;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.2rem;
}

.left button svg {
    width: 10%;
}

#middle-content {
    border: 3px solid rgb(255, 0, 183);
    grid-column: 4 / 13;
    grid-row: 2 / 3;
    padding: 1rem;
    display: grid;
    grid-template-columns: 65%;
    grid-auto-rows:100px;  
}

.todo-item {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 80%;
    align-items: start;
}

.todo-item .title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.todo-item .description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.todo-item .priority {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}