@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

dialog {
    width: 50%;
    border-radius: 8px;
    border-color: oklch(70.3% 5% 259.815 / 0.3);
    border-width: 1px;
    box-shadow: 1px 2px 4px 1px oklch(80.3% 1% 259.815 / 0.4);
}

dialog .dialog-heading {
    display: flex;
    justify-content: start;
    padding: 0 0.4rem; 
    height: 2rem; 
}
.cancel-button {
    width: 2rem;
    height: 2rem;
    fill: oklch(62.3% 0.214 259.815);
}

.cancel-button:hover {
    fill: #ffffff;
    background-color: oklch(62.3% 0.214 259.815);
    border: 1px solid oklch(62.3% 0.214 259.815);
    border-radius: 50%
}


dialog form {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

::backdrop {
    backdrop-filter: blur(10px);
}

form p {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 700;
    
}

form input {
    height: 2rem; 
}

form input, form textarea, form .task-color, .priority-container  {
    border-width: 1px;
    border-color: oklch(70.3% 5% 259.815 / 0.3);  
    border-radius: 6px;  
    
    box-shadow: 0px 2px 4px oklch(80.3% 1% 259.815 / 0.4);
    padding: 0 0.4rem; 
    font-family: inherit;
}

form textarea {
    padding-top: 0.4rem;
}

form input:focus, form textarea:focus, form .task-color:focus {
    border-color: oklch(62.3% 90% 259.815);
    border-width: 3px;
    border-left: 12px solid oklch(62.3% 0.214 259.815);
    outline: none;
    box-shadow: 3px 4px 6px oklch(80.3% 1% 259.815 / 0.6)
}

.priority-box-title {
    margin: 0;
}
.priority-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.priority {
    display: flex;
    align-items: center; 
}

.priority h4 {
    margin: 0;
}
 
.task-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.color-preview { 
    width: 2rem;
    height: 2rem;
    border: 1px solid blue;
}

dialog form button {
    height: 3rem;
    border-radius: 6px;
    border: 1px solid oklch(62.3% 0.214 259.815);
    background-color: oklch(62.3% 0.214 259.815);
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.1rem;
}

dialog form button:hover {
    background-color: transparent;
    color: oklch(62.3% 0.214 259.815);
}